
/* ****************************************************************************************************************************

 INICIO ROSSINI    INICIO ROSSINI    INICIO ROSSINI    INICIO ROSSINI    INICIO ROSSINI    INICIO ROSSINI        

   ****************************************************************************************************************************
*/

.fundoTelaaa {
  background-color: #f8f9fa;
}

.campoAvalia {
  resize: none;
  min-width: 20vh;
  height: auto;
}

.containerFormulario {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
} 

@media (max-width: 768px) {
  .anuncipo .container {
      flex-direction: column;
      align-items: center;
  }

  /* .main-group-func {
      margin-top: 20px;
  } */

  .carousel-inner img {
      width: 10%;
      /* height: auto; */
  }
}
.carousel-control-prev,
.carousel-control-next {
background-color: transparent;
border: none;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
background-image: none;
}

.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
content: '';
display: inline-block;
width: 3vh;
height: 3vh; 

}

.carousel-control-prev-icon::after {
background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23fff" viewBox="0 0 8 8"%3E%3Cpath d="M5.5 0l-3 3 3 3z"/%3E%3C/svg%3E');
}

.carousel-control-next-icon::after {
background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23fff" viewBox="0 0 8 8"%3E%3Cpath d="M2.5 0l3 3-3 3z"/%3E%3C/svg%3E');
}



/* ****************************************************************************************************************************

 FIM ROSSINI    FIM ROSSINI    FIM ROSSINI    FIM ROSSINI    FIM ROSSINI    FIM ROSSINI        

   ****************************************************************************************************************************
*/


/* ****************************************************************************************************************************

 INICIO WARMILING    INICIO WARMILING    INICIO WARMILING    INICIO WARMILING    INICIO WARMILING    INICIO WARMILING        

   ****************************************************************************************************************************
*/
.rate {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  margin-bottom: 2vh;
}

.rate input[type="radio"] {
  display: none;
}

.rate label {
  font-size: 2rem;
  color: grey;
  cursor: pointer;
  transition: color 0.3s;
}

.rate input[type="radio"]:checked~label,
.rate label:hover,
.rate label:hover~label {
  color: gold;
}

.botaoVerificaDisponibilidade {
  background-color: #0711FF;
  border: none;
  width: 100%;
}

.botaoWhats {
  background-color: #47C757;
  border: none; 
  width: 100%;
}

.modalCalendario{
  background-color: #001f3f;
  color: #ffffff;
}
 
.headerCalendario {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
} 

.calendar-days,
.calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.calendar-day,
.calendar-date {
  padding: 10px;
  color: #ffffff;
}

.calendar-date:hover {
  background-color: #f0f0f0;
  color: #001f3f;
  border-radius: 50%;
}

.btn-outline-secondary {
  color: #ffffff;
  border-color: #ffffff;
}

.btn-outline-secondary:hover {
  background-color: #ffffff;
  color: #001f3f;
}

.fechaModalCalendario {
  color: #ffffff;
  opacity: 1;
}

.fechaModalCalendario:hover {
  color: #f0f0f0;
}

/* Final Modal */

/* ****************************************************************************************************************************

 FIM WARMILING    FIM WARMILING    FIM WARMILING    FIM WARMILING    FIM WARMILING    FIM WARMILING    FIM WARMILING    FIM WARMILING        

   ****************************************************************************************************************************
*/

/* ****************************************************************************************************************************

 INICIO FELISBINO    INICIO FELISBINO    INICIO FELISBINO    INICIO FELISBINO    INICIO FELISBINO    INICIO FELISBINO        

   ****************************************************************************************************************************
*/
.contLogin {
  display: flex;
  justify-content: center;
  align-items: center;
}


.cardLogin {
  margin-top: 8vh;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardLogin input {
  margin-bottom: 1vh;
  background-color: whitesmoke;
}

.btnEsqueciSenha {
  padding: 1vh;
  margin-top: 2vh;
}

.cardCadastre {
  margin-top: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.esqueciSenhaModalFooter {
  display: flex;
  justify-content: center;
  align-items: center;

}

.services {
  margin: 20px;
  display: flex;
  overflow-x: scroll;
  gap: 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.services::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* ****************************************************************************************************************************

 FIM FELISBINO    FIM FELISBINO    FIM FELISBINO    FIM FELISBINO    FIM FELISBINO    FIM FELISBINO    FIM FELISBINO    FIM FELISBINO        

   ****************************************************************************************************************************
*/


/* ****************************************************************************************************************************

 INICIO AFFONSO    INICIO AFFONSO    INICIO AFFONSO    INICIO AFFONSO    INICIO AFFONSO    INICIO AFFONSO    INICIO AFFONSO    

   ****************************************************************************************************************************
*/

.logoCadastro {
  max-width: 28vh;
  height: auto;
}

.modalCadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.divideTipoCadastro {
  margin-top: 4%;
}

.btnTipoCadastro {
  border: 1px solid #012640;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

.btnTipoCadastro.active {
  background-color: #012640;
  color: white;
}

.descricaoNegocio {
  resize: none;
  min-height: 15vh;
}

.ajustaTela {
  margin: 0;
  margin-top: 2%
}

/* ********************************************************************************************************************

        FIM AFFONSO     FIM AFFONSO     FIM AFFONSO     FIM AFFONSO     FIM AFFONSO     FIM AFFONSO     FIM AFFONSO 


***********************************************************************************************************************
*/


/* ****************************************************************************************************************************

    INICIO PAVESI    INICIO PAVESI    INICIO PAVESI    INICIO PAVESI    INICIO PAVESI    INICIO PAVESI    INICIO PAVESI    

   ****************************************************************************************************************************
*/
.bodyCards {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.containerCards {
  max-width: 2400px;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}

.btnSaibaMais {
  background-color: #012640;
  border-color: #012640;
  color: #fff;
}

.btnSaibaMais:hover,
.btnSaibaMais:focus,
.btnSaibaMais.active{
  transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #001a2e;
  border-color: #001a2e;
  color: #fff;
}

.btnSaibaMais:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(1, 38, 64, 0.5);
}


.containerServicos {
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;
  max-width: 100%;
}

.containerServicos .cardServicos {
  display: inline-block;
  min-width: 18rem;
  margin-right: 1rem;
}

.cardServicos {
  margin-left: 20px;
}

.tituloServicos{
  margin-left: 20px;
  margin-bottom: 40px;
  margin-top: 30px;
  justify-content: start;
}

.carrosselServicos {
  height: 40vh;
}

.carrosselItem img {
  height: 40vh;
  object-fit: cover;
}

.categorias {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  justify-content: center;
}


.cardsCategorias {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  padding: 14px 12px;
  margin: 10px;
  flex: 0 0 calc(12.5% - 20px);
  box-sizing: border-box;
  transition: transform 0.3s;
  display: inline-block;
  width: 120px;
}

.cardsCategorias:hover {
  transform: scale(1.05);
}

.iconeCategoria {
  font-size: 28px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .navbar .navbar-collapse {
      flex-grow: 1;
  }

  .categorias {
      overflow-x: auto;
      white-space: nowrap;
  }

  .containerServicos {
      overflow-x: auto;
  }

  .categorias {
      justify-content: flex-start;
  }

  .titulo{
    font-size: 3.5vh;
  }

}

.flecha {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  z-index: 1;
  display: none;
}

.fechaEsquerda {
  left: 0;
}

.flechaDireita {
  right: 0;
}

@media (min-width: 768px) {
  .flecha {
      display: block;
  }
}



/* ********************************************************************************************************************

        FIM PAVESI     FIM PAVESI     FIM PAVESI     FIM PAVESI     FIM PAVESI     FIM PAVESI     FIM PAVESI 


***********************************************************************************************************************
*/



