/* Controle usuarios ADM */

@media (max-width: 767px) {

  .table-striped-admin th,
  .table-striped-admin td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .container-admin {
    padding-left: 10px;
    padding-right: 10px;
  }

  .title-admin {
    font-size: 1.2rem;
    text-align: center;
  }

  .btn-meus-agendamentos,
  .form-control,
  .form-select {
    width: 100%;
  }

  .actions-admin button {
    margin: 0 2px;
  }
}

/* fim Controle usuarios ADM */

/* *****************************************************************************************************************************/
html,
body {
  height: 100%;
  margin: 0;
}

::-webkit-scrollbar {
  width: 1.2vh;
  height: 1vh;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #012640;
}

::-webkit-scrollbar-track {
  background-color: #012640;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: #012640;
}

::-webkit-scrollbar-track:horizontal {
  background-color: #fff;
}

/* ***************************************************************************************************************************/
.status-card-admin {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
}

.status-card-admin.green {
  background-color: #28a745;
}

.status-card-admin.red {
  background-color: #dc3545;
}

.card-title-admin {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.chart-container-admin {
  height: 300px;
}

.icones-admin {
  font-size: 34px;
  margin-bottom: 20px;
}

.card-admin {
  transition: all 0.3s ease;
  cursor: pointer;
}

.card-admin:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid #002b5c;
}

.btn-primary-admin {
  background-color: #002b5c;
  border-color: #002b5c;
}

.btn-primary:hover {
  background-color: #002147;
  border-color: #002b5c;
}


/* tabelas */
.breadcrumb-admin {
  background-color: transparent;
  padding: 0;
  color: #012640;
}

.title-admin {
  text-align: center;
  background-color: #012640;
  color: white;
  padding: 15px;
  font-size: 24px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.container-admin {
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px;
}

.actions-admin {
  text-align: center;
}

.actions-admin .btn-admin {
  margin: 0 5px;
  padding: 5px 10px;
}

.actions-admin .btn-admin.edit-admin {
  color: #FFD700;
}

.actions-admin .btn-admin.delete-admin {
  color: #FF6347;
}

.actions-admin .btn-admin.view-admin {
  color: #00BFFF;
}

.navbar-admin,
.footer-admin {
  background-color: #002b5c;
  color: white;
}

.footer-admin {
  text-align: center;
  padding: 10px 0;
  position: relative;
  width: 100%;
  margin-top: auto;
}

.th-admin {
  text-align: center;
}

.table-striped-admin tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
  text-align: center;
}

.table-striped-admin tbody tr:nth-child(even) {
  background-color: #ffffff;
  text-align: center;
}

/* fim tabelas */

/* ****************************************************************************************************************************

 FIM  Tela de administrador

   ****************************************************************************************************************************
*/
/* ****************************************************************************************************************************

 INICIO Tela de Planos   

   ****************************************************************************************************************************
*/
:root {
  font-size: 1rem;
  /* Define o tamanho da fonte base */
}

.bodyPlanos {
  font-family: 'Arial', sans-serif;
}

.custom-cards-wrapper {
  position: relative;
  width: 100%;
  overflow-x: auto;
  /* Permite a rolagem horizontal */
  display: flex;
  justify-content: center;
  padding: 0 1.25rem;
  /* Adiciona espaço para evitar que o card seja cortado */
}

.custom-cards-container {
  display: flex;
  gap: 1.25rem;
  overflow-x: auto;
  /* Permite a rolagem horizontal */
  scrollbar-width: none;
  /* Oculta a barra de rolagem em navegadores que suportam */
  -ms-overflow-style: none;
  /* Oculta a barra de rolagem em navegadores IE */
  padding: 0;
  /* Remove qualquer padding que possa causar corte */
}

.custom-cards-container::-webkit-scrollbar {
  display: none;
  /* Oculta a barra de rolagem no Webkit */
}

.custom-card {
  flex: 0 0 auto;
  width: 15.625rem;
  /* 250px em rem */
  border: 0.1875rem solid;
  /* 3px em rem */
  border-radius: 0.625rem;
  /* 10px em rem */
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
  height: 37.5rem;
  /* 600px em rem */
  background-color: #012640;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  /* Adiciona espaço interno para melhor visualização */
}

.custom-card .card-img-top {
  width: 6.25rem;
  /* 100px em rem */
  height: 6.25rem;
  /* 100px em rem */
  margin-top: 3.125rem;
  /* 50px em rem */
  margin-bottom: 3.125rem;
  /* 50px em rem */
}

.bg-footer,
.bg-nav {
  background-color: #012640;
}

.tituloPlanos {
  font-size: 3.125rem;
  /* 50px em rem */
  font-weight: bold;
  color: #012640;
  text-align: center;
  margin: 2rem 0;
  /* Adiciona espaço em cima e embaixo do título */
}

.card-title {
  font-size: 1.875rem;
  /* 30px em rem */
  font-weight: bold;
  color: #fff;
}

.btn-primary-custom {
  padding: 0.3125rem 1.875rem;
  /* 5px 30px em rem */
  border-radius: 0.3125rem;
  /* 5px em rem */
  font-size: 1.25rem;
  /* 20px em rem */
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  /* Remove o sublinhado do link */
  display: inline-block;
  /* Garante que o botão tenha o tamanho adequado */
}

.btn-primary-custom[data-color="2cc406"] {
  background-color: #2cc406;
  border-color: #2cc406;
}

.btn-primary-custom[data-color="ce0b37"] {
  background-color: #ce0b37;
  border-color: #ce0b37;
}

.btn-primary-custom[data-color="ffa800"] {
  background-color: #ffa800;
  border-color: #ffa800;
}

.btn-primary-custom[data-color="3583ed"] {
  background-color: #3583ed;
  border-color: #3583ed;
}

/* Responsividade */
@media (max-width: 768px) {
  .custom-card {
    width: 12rem;
    /* Ajusta o tamanho dos cards em dispositivos móveis */
    height: auto;
    /* Ajusta a altura automaticamente */
  }

  .tituloPlanos {
    font-size: 2rem;
    /* Ajusta o tamanho do título em dispositivos móveis */
  }

  .card-title {
    font-size: 1.5rem;
    /* Ajusta o tamanho do título do card em dispositivos móveis */
  }
}


/* ****************************************************************************************************************************

 FIM Tela de Planos      

   ****************************************************************************************************************************
*/

/* ********************************************************************************************************************

        inicio tela de cadastroProduto    inicio tela de cadastroProduto     inicio tela de cadastroProduto


***********************************************************************************************************************
*/

.bodyCadastroProdutos {
  background-color: #f8f9fa;
}

.formularioCadastroProdutos {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  width: 100%;
}

.formularioCadastroProdutos h1 {
  color: #1B3C54;
}

.preview img,
.preview video {
  max-width: 100px;
  margin-top: 10px;
}


#service-photos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Centraliza as imagens no container */
  gap: 10px;
  /* Espaçamento entre as imagens */
}

#service-photos-container img {
  width: 150px;
  /* Largura fixa para as imagens */
  height: 150px;
  /* Altura fixa para as imagens */
  object-fit: cover;
  /* Preserva a proporção da imagem */
  border: 1px solid #ddd;
  /* Borda opcional */
  border-radius: 4px;
  /* Bordas arredondadas opcionais */
  transition: transform 0.3s;
  /* Efeito de transição ao passar o mouse */
}

#service-photos-container img:hover {
  transform: scale(1.05);
  /* Aumenta levemente a imagem ao passar o mouse */
}

/* ********************************************************************************************************************

        fim tela de cadastroProduto    fim tela de cadastroProduto     fim tela de cadastroProduto


***********************************************************************************************************************
*/



/* ****************************************************************************************************************************

 INICIO ROSSINI    INICIO ROSSINI    INICIO ROSSINI    INICIO ROSSINI    INICIO ROSSINI    INICIO ROSSINI        

   ****************************************************************************************************************************
*/
.imgPrestadorAnuncio {
  width: 100%;
  height: 100%;
}

.fundoTelaaa {
  background-color: #f8f9fa;
}

.campoAvalia {
  resize: none;
  min-width: 20vh;
  height: auto;
}

.containerFormulario {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.carousel-img {
  height: 30rem;
  width: 45rem;
  /* Ajuste a altura conforme necessário */
  object-fit: cover;
}

@media (max-width: 768px) {
  .anuncipo .container {
    flex-direction: column;
    align-items: center;
  }

  .carousel-item img {
    height: 23rem;
    width: 23rem;
    /* Ajuste a altura conforme necessário */

  }
}

.carousel-control-prev,
.carousel-control-next {
  background-color: transparent;
  border: none;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
  content: '';
  display: inline-block;
  width: 3vh;
  height: 3vh;

}

.carousel-control-prev-icon::after {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23fff" viewBox="0 0 8 8"%3E%3Cpath d="M5.5 0l-3 3 3 3z"/%3E%3C/svg%3E');
}

.carousel-control-next-icon::after {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23fff" viewBox="0 0 8 8"%3E%3Cpath d="M2.5 0l3 3-3 3z"/%3E%3C/svg%3E');
}



/* ****************************************************************************************************************************

 FIM ROSSINI    FIM ROSSINI    FIM ROSSINI    FIM ROSSINI    FIM ROSSINI    FIM ROSSINI        

   ****************************************************************************************************************************
*/


/* ****************************************************************************************************************************

 INICIO WARMILING    INICIO WARMILING    INICIO WARMILING    INICIO WARMILING    INICIO WARMILING    INICIO WARMILING        

   ****************************************************************************************************************************
*/
.rate {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  margin-bottom: 2vh;
}

.rate input[type="radio"] {
  display: none;
}

.rate label {
  font-size: 2rem;
  color: grey;
  cursor: pointer;
  transition: color 0.3s;
  margin: 0 5px;
}

.rate input[type="radio"]:checked~label,
.rate label:hover,
.rate label:hover~label {
  color: gold;
}

.botaoVerificaDisponibilidade,
.botaoWhats {
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
}

.botaoVerificaDisponibilidade {
  background-color: #0711FF;
}

.botaoWhats {
  background-color: #47C757;
}

.modalCalendario {
  background-color: #001f3f;
  color: #ffffff;
}

.headerCalendario {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-days,
.calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.calendar-day,
.calendar-date {
  padding: 15px;
  color: #ffffff;
  border-radius: 5px;
}

.calendar-date:hover {
  background-color: #f0f0f0;
  color: #001f3f;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
}

.btn-outline-secondary {
  color: #ffffff;
  border-color: #ffffff;
}

.btn-outline-secondary:hover {
  background-color: #ffffff;
  color: #001f3f;
}

.fechaModalCalendario {
  color: #ffffff;
  opacity: 1;
}

.fechaModalCalendario:hover {
  color: #f0f0f0;
}

/* Final Modal */

/* ****************************************************************************************************************************

 FIM WARMILING    FIM WARMILING    FIM WARMILING    FIM WARMILING    FIM WARMILING    FIM WARMILING    FIM WARMILING    FIM WARMILING        

   ****************************************************************************************************************************
*/

/* ****************************************************************************************************************************

 INICIO FELISBINO    INICIO FELISBINO    INICIO FELISBINO    INICIO FELISBINO    INICIO FELISBINO    INICIO FELISBINO        

   ****************************************************************************************************************************
*/
.contLogin {
  display: flex;
  justify-content: center;
  align-items: center;
}


.cardLogin {
  margin-top: 8vh;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardLogin input {
  margin-bottom: 1vh;
  background-color: whitesmoke;
}

.btnEsqueciSenha {
  padding: 1vh;
  margin-top: 2vh;
}

.cardCadastre {
  margin-top: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.esqueciSenhaModalFooter {
  display: flex;
  justify-content: center;
  align-items: center;

}

.services {
  margin: 20px;
  display: flex;
  overflow-x: scroll;
  gap: 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.services::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* ****************************************************************************************************************************

 FIM FELISBINO    FIM FELISBINO    FIM FELISBINO    FIM FELISBINO    FIM FELISBINO    FIM FELISBINO    FIM FELISBINO    FIM FELISBINO        

   ****************************************************************************************************************************
*/


/* ****************************************************************************************************************************

 INICIO AFFONSO    INICIO AFFONSO    INICIO AFFONSO    INICIO AFFONSO    INICIO AFFONSO    INICIO AFFONSO    INICIO AFFONSO    

   ****************************************************************************************************************************
*/

.logoCadastro {
  max-width: 28vh;
  height: auto;
}

.modalCadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.divideTipoCadastro {
  margin-top: 4%;
}

.btnTipoCadastro {
  border: 1px solid #012640;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

.btnTipoCadastro.active {
  background-color: #012640;
  color: white;
}


.descricao {
  resize: none;
}

#descricao {
  min-height: 10vh;

}

.ajustaTela {
  margin: 0;
  margin-top: 2%
}

/* ********************************************************************************************************************

        FIM AFFONSO     FIM AFFONSO     FIM AFFONSO     FIM AFFONSO     FIM AFFONSO     FIM AFFONSO     FIM AFFONSO 


***********************************************************************************************************************
*/


/* ****************************************************************************************************************************

    INICIO INDEX     INICIO INDEX     INICIO INDEX     INICIO INDEX     INICIO INDEX     INICIO INDEX     INICIO INDEX   

   ****************************************************************************************************************************
*/
/* Fonte e estilo do corpo */

.bodyCards {
  background-color: #f8f9fa;
  /* Exemplo de cor de fundo */
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  flex-direction: column;

}

/* Container principal centralizado */
.main-container {
  width: 90%;
  max-width: 150rem;
  margin: 0 auto;
  padding: 0 15px;
}

.services-container {
  display: flex;
  overflow-x: auto; /* Permite rolagem horizontal */
  white-space: nowrap; /* Impede quebra de linha */
  padding: 10px; /* Adiciona um espaçamento */
  scroll-snap-type: x mandatory; /* Facilita a navegação por seções */
}


/* Container de cards */
.containerCards {
  max-width: 240rem;
  position: relative;
  overflow: hidden;
}

/* Botão Saiba Mais */
.btnSaibaMais {
  background-color: #012640;
  border-color: #012640;
  color: #fff;
}

.btnSaibaMais:hover,
.btnSaibaMais:focus,
.btnSaibaMais.active {
  transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #001a2e;
  border-color: #001a2e;
  color: #fff;
}

.btnSaibaMais:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(1, 38, 64, 0.5);
}

/* Container de serviços */
.containerServicos {
  overflow: hidden;
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;
  max-width: 100%;

}

/* Ajustes Tamanho da Img */
.cardServicos img {
  width: 16rem;
  height: 12rem;
  object-fit: cover;
  object-position: center;
  border-radius: 0.2rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* descricao breve do servico */
.card-text-servicos {
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  height: 4.5rem;
}

.containerServicos .cardServicos {
  display: inline-block;
  min-width: 16.1rem;
  margin-right: 1rem;
  transition: transform 0.3s;
  border-radius: 0.5rem;
}

.cardServicos:hover {
  transform: scale(1.05);
}

/* Título dos serviços */
.tituloServicos {
  margin-left: 20px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  justify-content: start;
}

.carrosselServicos {
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
  height: 15rem;
}

.carrosselItem img {
  max-height: 15rem;
  object-fit: contain;
  height: auto;
}

.carousel-indicators li {
  list-style-type: none; /* Remove os números (ou marcadores) */
}

.carousel-indicators li::before {
  content: ""; /* Remove qualquer conteúdo extra (como números) */
}

@media (max-width: 768px) {
  .carrosselItem img {
    max-height: 7rem;
    object-fit: cover;
  }

  .carrosselServicos {
    display: flex;
    height: 7rem;
  }

  .main-container {
    width: 100%;
  }

}

/* Categorias */
.categorias {
  display: flex;
  justify-content: center;
  color: #012640;
  position: relative;
}

.cardsCategorias {
  min-width: 17vh;
  font-size: 2vh;
  background-color: #fff;
  border: 1px solid #012640;
  border-radius: 8px;
  text-align: center;
  box-sizing: border-box;
  transition: transform 0.2s;
  color: #012640;
}

.cardsCategorias:hover {
  transform: scale(1.01);
}

.iconeCategoria {
  font-size: 1.5rem;
  margin-bottom: 1%;
}

/* Container para permitir a rolagem */
.categorias-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding-bottom: 10px;
  gap: 10px;
}

/* Estilizando as setas de navegação */
.seta-esquerda,
.seta-direita {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #012640;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.seta-esquerda {
  left: -15px;
}

.seta-direita {
  right: -15px;
}

.seta-esquerda:hover,
.seta-direita:hover {
  background-color: #004080;
}

.flecha {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  z-index: 1;
  display: none;
}

.flechaDireita{
  right: 0;
}

@media (max-width: 768px) {
  .titiloCategoria {
    white-space: normal; 
    word-break: break-word; 
    font-size: 2vh; 
  
  .category-card {
    max-width: 100px; /* Limita a largura das caixas para encaixar no layout */
  }
}

  .seta-esquerda,
  .seta-direita,
  .flecha {
    display: none;
  }

  .categorias {
    justify-content: flex-start;
    overflow-x: auto;
    white-space: nowrap;
  }

  .categorias-container,
  .categorias,
  .containerServicos {
    scrollbar-width: none; /* Oculta a barra de rolagem no Firefox */
  }

  .categorias-container::-webkit-scrollbar,
  .categorias::-webkit-scrollbar,
  .containerServicos::-webkit-scrollbar {
    display: none; /* Oculta a barra de rolagem no Chrome/Safari */
  }

  .titulo {
    font-size: 3.5vh;
  }

  .navbar .navbar-collapse {
    flex-grow: 1;
  }
}

@media (min-width: 768px) {
  .flecha {
    display: block;
  }
}
#userDropdown {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ********************************************************************************************************************

        FIM INDEX     FIM INDEX     FIM INDEX     FIM INDEX     FIM INDEX     FIM INDEX     FIM INDEX     FIM INDEX     


***********************************************************************************************************************
*/
/* JOGA O FOOTER PRO FIM DA TELA MESMO QUE NÃO TENHA NADA NELA */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* A página ocupa toda a altura da tela */
}

.main-admin {
  flex: 1; /* Expande o conteúdo principal para preencher o espaço disponível */
}
