/* *****************************************************************************************************************************/
html, body {
  height: 100%; 
  margin: 0;
}

::-webkit-scrollbar {
  width: 1.2vh; 
  height: 1vh;
}
::-webkit-scrollbar-thumb {
  background-color: #fff; 
  border-radius: 5px; 
  border: 1px solid #012640;
}
::-webkit-scrollbar-track {
  background-color: #012640; 
}
::-webkit-scrollbar-thumb:horizontal {
  background-color: #012640;
}
::-webkit-scrollbar-track:horizontal {
  background-color: #fff; 
}

  /* ***************************************************************************************************************************/
.status-card-admin {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  }
  .status-card-admin.green {
  background-color: #28a745;
  }
  .status-card-admin.red {
  background-color: #dc3545;
  }
  .card-title-admin {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  }
  .chart-container-admin {
  height: 300px;
  }
  .icones-admin {
  font-size: 34px;
  margin-bottom: 20px;
  }
  .card-admin {
  transition: all 0.3s ease;
  cursor: pointer;
  }
  .card-admin:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid #002b5c;
  }
  .btn-primary-admin {
  background-color: #002b5c;
  border-color: #002b5c;
  }
  .btn-primary:hover {
  background-color: #002147;
  border-color: #002b5c;
  }


  /* tabelas */
  .breadcrumb-admin {
    background-color: transparent;
    padding: 0;
    color: #012640;
    }
    .title-admin {
    text-align: center;
    background-color: #012640;
    color: white;
    padding: 15px;
    font-size: 24px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 40px;
    }
    .container-admin {
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    }
    .actions-admin {
    text-align: center;
    }
    .actions-admin .btn-admin {
    margin: 0 5px;
    padding: 5px 10px;
    }
    .actions-admin .btn-admin.edit-admin {
    color: #FFD700;
    }
    .actions-admin .btn-admin.delete-admin {
    color: #FF6347;
    }
    .actions-admin .btn-admin.view-admin {
    color: #00BFFF;
    }
    .navbar-admin, .footer-admin {
    background-color: #002b5c;
    color: white;
    }
    .footer-admin {
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    margin-top: auto;
    }
    .th-admin {
    text-align: center;
    }
    .table-striped-admin tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
    text-align: center;
    }
    .table-striped-admin tbody tr:nth-child(even) {
    background-color: #ffffff;
    text-align: center;
    }

    /* fim tabelas */

/* ****************************************************************************************************************************

 FIM  Tela de administrador

   ****************************************************************************************************************************
*/
/* ****************************************************************************************************************************

 INICIO Tela de Planos   

   ****************************************************************************************************************************
*/
:root {
  font-size: 1rem; /* Define o tamanho da fonte base */
}

.bodyPlanos {
  font-family: 'Arial', sans-serif;
}

.custom-cards-wrapper {
  position: relative;
  width: 100%;
  overflow-x: auto; /* Permite a rolagem horizontal */
  display: flex;
  justify-content: center;
  padding: 0 1.25rem; /* Adiciona espaço para evitar que o card seja cortado */
}

.custom-cards-container {
  display: flex;
  gap: 1.25rem;
  overflow-x: auto; /* Permite a rolagem horizontal */
  scrollbar-width: none; /* Oculta a barra de rolagem em navegadores que suportam */
  -ms-overflow-style: none; /* Oculta a barra de rolagem em navegadores IE */
  padding: 0; /* Remove qualquer padding que possa causar corte */
}

.custom-cards-container::-webkit-scrollbar {
  display: none; /* Oculta a barra de rolagem no Webkit */
}

.custom-card {
  flex: 0 0 auto;
  width: 15.625rem; /* 250px em rem */
  border: 0.1875rem solid; /* 3px em rem */
  border-radius: 0.625rem; /* 10px em rem */
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
  height: 37.5rem; /* 600px em rem */
  background-color: #012640;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem; /* Adiciona espaço interno para melhor visualização */
}

.custom-card .card-img-top {
  width: 6.25rem; /* 100px em rem */
  height: 6.25rem; /* 100px em rem */
  margin-top: 3.125rem; /* 50px em rem */
  margin-bottom: 3.125rem; /* 50px em rem */
}

.bg-footer, .bg-nav {
  background-color: #012640;
}

.tituloPlanos {
  font-size: 3.125rem; /* 50px em rem */
  font-weight: bold;
  color: #012640;
  text-align: center;
  margin: 2rem 0; /* Adiciona espaço em cima e embaixo do título */
}

.card-title {
  font-size: 1.875rem; /* 30px em rem */
  font-weight: bold;
  color: #fff;
}

.btn-primary-custom {
  padding: 0.3125rem 1.875rem; /* 5px 30px em rem */
  border-radius: 0.3125rem; /* 5px em rem */
  font-size: 1.25rem; /* 20px em rem */
  font-weight: bold;
  color: #fff;
  text-decoration: none; /* Remove o sublinhado do link */
  display: inline-block; /* Garante que o botão tenha o tamanho adequado */
}

.btn-primary-custom[data-color="2cc406"] {
  background-color: #2cc406;
  border-color: #2cc406;
}

.btn-primary-custom[data-color="ce0b37"] {
  background-color: #ce0b37;
  border-color: #ce0b37;
}

.btn-primary-custom[data-color="ffa800"] {
  background-color: #ffa800;
  border-color: #ffa800;
}

.btn-primary-custom[data-color="3583ed"] {
  background-color: #3583ed;
  border-color: #3583ed;
}

/* Responsividade */
@media (max-width: 768px) {
  .custom-card {
    width: 12rem; /* Ajusta o tamanho dos cards em dispositivos móveis */
    height: auto; /* Ajusta a altura automaticamente */
  }
  
  .tituloPlanos {
    font-size: 2rem; /* Ajusta o tamanho do título em dispositivos móveis */
  }

  .card-title {
    font-size: 1.5rem; /* Ajusta o tamanho do título do card em dispositivos móveis */
  }
}


/* ****************************************************************************************************************************

 FIM Tela de Planos      

   ****************************************************************************************************************************
*/

/* ********************************************************************************************************************

        inicio tela de cadastroProduto    inicio tela de cadastroProduto     inicio tela de cadastroProduto


***********************************************************************************************************************
*/

.bodyCadastroProdutos {
  background-color: #f8f9fa;
}

.formularioCadastroProdutos {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  width: 100%;
}

.formularioCadastroProdutos h1 {
  color: #1B3C54;
}

.preview img,
.preview video {
  max-width: 100px;
  margin-top: 10px;
}


/* ********************************************************************************************************************

        fim tela de cadastroProduto    fim tela de cadastroProduto     fim tela de cadastroProduto


***********************************************************************************************************************
*/



/* ****************************************************************************************************************************

 INICIO ROSSINI    INICIO ROSSINI    INICIO ROSSINI    INICIO ROSSINI    INICIO ROSSINI    INICIO ROSSINI        

   ****************************************************************************************************************************
*/
.imgPrestadorAnuncio{
  width: 100%;
  height: 100%;
}
.fundoTelaaa {
  background-color: #f8f9fa;
}

.campoAvalia {
  resize: none;
  min-width: 20vh;
  height: auto;
}

.containerFormulario {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
} 

.carousel-img {
  height: 30rem;
  width: 45rem; /* Ajuste a altura conforme necessário */
  object-fit: cover;
}

@media (max-width: 768px) {
  .anuncipo .container {
      flex-direction: column;
      align-items: center;
  }

  .carousel-img {
    height: 100%;
    width: 100%; /* Ajuste a altura conforme necessário */
    object-fit: cover;
  }
}
.carousel-control-prev,
.carousel-control-next {
background-color: transparent;
border: none;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
background-image: none;
}

.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
content: '';
display: inline-block;
width: 3vh;
height: 3vh; 

}

.carousel-control-prev-icon::after {
background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23fff" viewBox="0 0 8 8"%3E%3Cpath d="M5.5 0l-3 3 3 3z"/%3E%3C/svg%3E');
}

.carousel-control-next-icon::after {
background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23fff" viewBox="0 0 8 8"%3E%3Cpath d="M2.5 0l3 3-3 3z"/%3E%3C/svg%3E');
}



/* ****************************************************************************************************************************

 FIM ROSSINI    FIM ROSSINI    FIM ROSSINI    FIM ROSSINI    FIM ROSSINI    FIM ROSSINI        

   ****************************************************************************************************************************
*/


/* ****************************************************************************************************************************

 INICIO WARMILING    INICIO WARMILING    INICIO WARMILING    INICIO WARMILING    INICIO WARMILING    INICIO WARMILING        

   ****************************************************************************************************************************
*/
.rate {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  margin-bottom: 2vh;
}

.rate input[type="radio"] {
  display: none;
}

.rate label {
  font-size: 2rem;
  color: grey;
  cursor: pointer;
  transition: color 0.3s;
  margin: 0 5px;
}

.rate input[type="radio"]:checked~label,
.rate label:hover,
.rate label:hover~label {
  color: gold;
}

.botaoVerificaDisponibilidade,
.botaoWhats {
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
}

.botaoVerificaDisponibilidade {
  background-color: #0711FF;
}

.botaoWhats {
  background-color: #47C757;
}

.modalCalendario {
  background-color: #001f3f;
  color: #ffffff;
}

.headerCalendario {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-days,
.calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.calendar-day,
.calendar-date {
  padding: 15px;
  color: #ffffff;
  border-radius: 5px;
}

.calendar-date:hover {
  background-color: #f0f0f0;
  color: #001f3f;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
}

.btn-outline-secondary {
  color: #ffffff;
  border-color: #ffffff;
}

.btn-outline-secondary:hover {
  background-color: #ffffff;
  color: #001f3f;
}

.fechaModalCalendario {
  color: #ffffff;
  opacity: 1;
}

.fechaModalCalendario:hover {
  color: #f0f0f0;
}

/* Final Modal */

/* ****************************************************************************************************************************

 FIM WARMILING    FIM WARMILING    FIM WARMILING    FIM WARMILING    FIM WARMILING    FIM WARMILING    FIM WARMILING    FIM WARMILING        

   ****************************************************************************************************************************
*/

/* ****************************************************************************************************************************

 INICIO FELISBINO    INICIO FELISBINO    INICIO FELISBINO    INICIO FELISBINO    INICIO FELISBINO    INICIO FELISBINO        

   ****************************************************************************************************************************
*/
.contLogin {
  display: flex;
  justify-content: center;
  align-items: center;
}


.cardLogin {
  margin-top: 8vh;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardLogin input {
  margin-bottom: 1vh;
  background-color: whitesmoke;
}

.btnEsqueciSenha {
  padding: 1vh;
  margin-top: 2vh;
}

.cardCadastre {
  margin-top: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.esqueciSenhaModalFooter {
  display: flex;
  justify-content: center;
  align-items: center;

}

.services {
  margin: 20px;
  display: flex;
  overflow-x: scroll;
  gap: 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.services::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* ****************************************************************************************************************************

 FIM FELISBINO    FIM FELISBINO    FIM FELISBINO    FIM FELISBINO    FIM FELISBINO    FIM FELISBINO    FIM FELISBINO    FIM FELISBINO        

   ****************************************************************************************************************************
*/


/* ****************************************************************************************************************************

 INICIO AFFONSO    INICIO AFFONSO    INICIO AFFONSO    INICIO AFFONSO    INICIO AFFONSO    INICIO AFFONSO    INICIO AFFONSO    

   ****************************************************************************************************************************
*/

.logoCadastro {
  max-width: 28vh;
  height: auto;
}

.modalCadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.divideTipoCadastro {
  margin-top: 4%;
}

.btnTipoCadastro {
  border: 1px solid #012640;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

.btnTipoCadastro.active {
  background-color: #012640;
  color: white;
}


.descricao {
  resize: none;
}
#descricao{
  min-height:10vh;

}

.ajustaTela {
  margin: 0;
  margin-top: 2%
}

/* ********************************************************************************************************************

        FIM AFFONSO     FIM AFFONSO     FIM AFFONSO     FIM AFFONSO     FIM AFFONSO     FIM AFFONSO     FIM AFFONSO 


***********************************************************************************************************************
*/


/* ****************************************************************************************************************************

    INICIO INDEX     INICIO INDEX     INICIO INDEX     INICIO INDEX     INICIO INDEX     INICIO INDEX     INICIO INDEX   

   ****************************************************************************************************************************
*/
/* Fonte e estilo do corpo */
.bodyCards {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Remove o scroll horizontal */
/* LUIS ADD */
  display: flex;
  flex-direction: column;
}

/* Container principal centralizado */
.main-container {
  max-width: 1200px; /* Ajuste conforme necessário */
  margin: 0 auto; /* Centraliza o container horizontalmente */
  padding: 0 15px; /* Adiciona padding lateral para evitar que o conteúdo fique muito perto das bordas */
}


/* Container de cards */
.containerCards {
  max-width: 240rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  
}

/* Botão Saiba Mais */
.btnSaibaMais {
  background-color: #012640;
  border-color: #012640;
  color: #fff;
}

.btnSaibaMais:hover,
.btnSaibaMais:focus,
.btnSaibaMais.active {
  transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #001a2e;
  border-color: #001a2e;
  color: #fff;
}

.btnSaibaMais:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(1, 38, 64, 0.5);
}

/* Container de serviços */
.containerServicos {
  overflow: hidden;
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;
  max-width: 100%;
  
}

/* Ajustes Tamanho da Img */
.cardServicos img {
  width: 16rem;
  height: 12rem;
  object-fit: cover; /* Mantém a imagem coberta e evita distorção */
  object-position: center; /* Centraliza a imagem dentro do container */
  border-radius: 0.2rem;
}
.card-title {
  font-size: 1.25rem; /* Ajuste o tamanho conforme necessário */
  font-weight: bold; /* Adiciona negrito para destacar o título */
  margin-bottom: 0.5rem; /* Adiciona espaçamento abaixo do título */
}
/* descricao breve do servico */
.card-text-servicos {
  margin: 0; /* Remove margem para que o texto fique dentro do card */
  padding: 0; /* Remove padding para o texto não ultrapassar os limites */
  text-overflow: ellipsis; /* Adiciona reticências se o texto for muito longo */
  overflow: hidden; /* Garante que o texto não ultrapasse os limites */
  white-space: normal; /* Impede a quebra de linha */
  height: 4.5rem;
}
.containerServicos .cardServicos {
  display: inline-block;
  min-width: 16.1rem;
  margin-right: 1rem;
  transition: transform 0.3s;
  border-radius: 0.5rem;
}

 .cardServicos:hover {
  transform: scale(1.05);
}

/* Título dos serviços */
.tituloServicos {
  margin-left: 20px;
  margin-bottom: 40px;
  margin-top: 30px;
  justify-content: start;
}

/* Carrossel de imgs de serviços */
.carrosselServicos {
  height: 30vh;
  margin-bottom: 20px;
}

.carrosselItem img {
  height: 30vh;
  object-fit: cover;
}

.carousel-indicators {
  display: none;
}

/* Categorias */
.categorias {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  color: #012640;
  position: relative; /* Necessário para posicionar as setas */
}

.cardsCategorias {
  font-size: 1.5vh;
  background-color: #fff;
  border: 1px solid #012640;
  border-radius: 8px;
  text-align: center;
  box-sizing: border-box;
  transition: transform 0.3s;
  height: auto;
  width: 100%; /* Full width by default */
  max-width: 150px; /* Limita a largura máxima */
  color: #012640;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardsCategorias:hover {
  transform: scale(1.05);
}

.iconeCategoria {
  font-size: 1.5rem;
  margin-bottom: 1%;
}

/* Ajustes para diferentes tamanhos de tela */
@media (min-width: 576px) {
  .cardsCategorias {
    max-width: 120px;
  }
}

@media (min-width: 768px) {
  .cardsCategorias {
    max-width: 140px;
  }
}

@media (min-width: 992px) {
  .cardsCategorias {
    max-width: 160px;
  }
}

/* Container para permitir a rolagem */
.categorias-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden; /* Esconde a rolagem */
  scroll-behavior: smooth; /* Suaviza a rolagem ao usar JS */
  padding-bottom: 10px;
  gap: 10px; /* Espaçamento entre os cards */
}

/* Estilizando as setas de navegação */
.seta-esquerda, .seta-direita {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #012640;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.seta-esquerda {
  left: -20px; /* Posiciona à esquerda */
}

.seta-direita {
  right: -20px; /* Posiciona à direita */
}

.seta-esquerda:hover, .seta-direita:hover {
  background-color: #004080; /* Mudança de cor ao passar o mouse */
}


/* Estilo das setas */
.flecha {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  z-index: 1;
  display: none;
}

.fechaEsquerda {
  left: 0;
}

.flechaDireita {
  right: 0;
}


/* Responsividade */
@media (max-width: 768px) {
  
  .navbar .navbar-collapse {
    flex-grow: 1;
  }

  .categorias {
    overflow-x: auto;
    white-space: nowrap;
  }

  .containerServicos {
    overflow-x: auto;
  }

  .categorias {
    justify-content: flex-start;
  }

  .titulo {
    font-size: 3.5vh;
  }
}

@media (min-width: 768px) {
  .flecha {
    display: block;
  }
}


/* Adicione este estilo no seu arquivo CSS ou em um bloco <style> */
#userDropdown {
  width: 200px; /* Define a largura fixa para o dropdown */
  white-space: nowrap; /* Impede que o texto quebre para a próxima linha */
  overflow: hidden; /* Esconde qualquer texto que ultrapasse o tamanho definido */
  text-overflow: ellipsis; /* Adiciona reticências (...) ao texto que ultrapassa o limite */
}




/* ********************************************************************************************************************

        FIM INDEX     FIM INDEX     FIM INDEX     FIM INDEX     FIM INDEX     FIM INDEX     FIM INDEX     FIM INDEX     


***********************************************************************************************************************
*/





